<a href="https://colab.research.google.com/github/miller00315/estatistica_machine_learning/blob/master/avaliacao_algoritmos_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np
import statistics
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
dataset = pd.read_csv('credit_data.csv')

In [3]:
dataset.head

<bound method NDFrame.head of       i#clientid        income        age         loan  c#default
0              1  66155.925095  59.017015  8106.532131          0
1              2  34415.153966  48.117153  6564.745018          0
2              3  57317.170063  63.108049  8020.953296          0
3              4  42709.534201  45.751972  6103.642260          0
4              5  66952.688845  18.584336  8770.099235          1
...          ...           ...        ...          ...        ...
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

[2000 rows x 5 columns]>

In [5]:
dataset.dropna(inplace=True) # remove os nulos

dataset.shape

(1997, 5)

In [6]:
dataset

      i#clientid        income        age         loan  c#default
0              1  66155.925095  59.017015  8106.532131          0
1              2  34415.153966  48.117153  6564.745018          0
2              3  57317.170063  63.108049  8020.953296          0
3              4  42709.534201  45.751972  6103.642260          0
4              5  66952.688845  18.584336  8770.099235          1
...          ...           ...        ...          ...        ...
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

[1997 rows x 5 columns]

In [14]:
X = dataset.iloc[:, 1:4].values
X

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [11]:
y = dataset.iloc[:, 4].values

y

array([0, 0, 0, ..., 1, 0, 0])

In [15]:
results_naive_bayes = []

results_logistic = []

results_random_forest = []

for i in range(30):
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = i)

  naive_bayes = GaussianNB()
  naive_bayes.fit(X_train, y_train)
  results_naive_bayes.append(accuracy_score(y_test, naive_bayes.predict(X_test)))

  logistic = LogisticRegression()
  logistic.fit(X_train, y_train)
  results_logistic.append(accuracy_score(y_test, logistic.predict(X_test)))

  random_forest = RandomForestClassifier()
  random_forest.fit(X_train, y_train)
  results_random_forest.append(accuracy_score(y_test, random_forest.predict(X_test)))

In [16]:
print(results_naive_bayes)

[0.925, 0.925, 0.9325, 0.925, 0.92, 0.905, 0.9175, 0.9175, 0.9125, 0.9325, 0.9225, 0.9125, 0.935, 0.9175, 0.925, 0.9175, 0.9275, 0.92, 0.9325, 0.92, 0.93, 0.905, 0.9175, 0.9325, 0.9425, 0.9375, 0.94, 0.92, 0.935, 0.925]

In [17]:
print(results_logistic)

[0.9325, 0.91, 0.9125, 0.9225, 0.9075, 0.89, 0.91, 0.9075, 0.8775, 0.915, 0.9175, 0.9, 0.925, 0.9175, 0.9025, 0.9125, 0.9525, 0.91, 0.9225, 0.9075, 0.925, 0.905, 0.9075, 0.945, 0.9225, 0.9275, 0.9225, 0.9175, 0.91, 0.9]

In [18]:
print(results_random_forest)

[0.975, 0.99, 0.98, 0.995, 0.9825, 0.985, 0.9825, 0.99, 0.9825, 0.99, 0.9825, 0.9775, 0.9775, 0.985, 0.98, 0.9775, 0.985, 0.98, 0.9925, 0.985, 0.98, 0.9825, 0.98, 0.9875, 0.9925, 0.9925, 0.9925, 0.9825, 0.985, 0.99]

In [23]:
results_naive_bayes = np.array(results_naive_bayes)
results_logistic = np.array(results_logistic)
results_random_forest = np.array(results_random_forest)

**MÃ©dia**

In [28]:
results_naive_bayes.mean() * 100, results_logistic.mean() * 100, results_random_forest.mean() * 100

(92.425, 91.45, 98.46666666666664)

**Moda**

In [35]:
stats.mode(results_naive_bayes), stats.mode(results_logistic), stats.mode(results_random_forest)

(ModeResult(mode=array([0.9175]), count=array([5])),
 ModeResult(mode=array([0.9075]), count=array([4])),
 ModeResult(mode=array([0.9825]), count=array([6])))

**Mediana**

In [36]:
np.median(results_naive_bayes), np.median(results_logistic), np.median(results_random_forest)

(0.925, 0.9125, 0.98375)

**VariÃ¢ncia**

In [38]:
np.set_printoptions(suppress=True)
np.var(results_naive_bayes), np.var(results_logistic), np.var(results_random_forest) # Ajuda a encontrar o algoritmo mais consistente

(8.756250000000001e-05, 0.00020933333333333337, 2.8638888888888936e-05)

In [39]:
np.min([8.756250000000001e-05, 0.00020933333333333337, 2.8638888888888936e-05]) # encontrar a menor variÃ¢cia

2.8638888888888936e-05

In [41]:
np.max([8.756250000000001e-05, 0.00020933333333333337, 2.8638888888888936e-05])# encontrar a maior variÃ¢ncia

0.00020933333333333337

**Desvio padrÃ£o**