<a href="https://colab.research.google.com/github/miller00315/estatistica_machine_learning/blob/master/Medidas_posicao_dispersao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Medidas de Disperção**

Base de dados

In [32]:
import numpy as np
import statistics
from scipy import stats
import math
import pandas as pd

In [2]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

Média aritmética simples

In [9]:
dados.sum() / len(dados), dados.mean(), statistics.mean(dados) # Média aritmética manual, utilizando o numpy e o pacote statistic

(160.375, 160.375, 160)

Moda

In [10]:
statistics.mode(dados) # Moda com statistics

160

In [11]:
stats.mode(dados) # moda com statis

ModeResult(mode=array([160]), count=array([5]))

*Mediana*

In [12]:
dados_impar = [150, 151, 152,152, 153, 154, 155, 155, 155]

Calculo manual impar

In [13]:
position =  len(dados_impar) / 2
position

4.5

In [15]:
position = math.ceil(position) #Arredonda a posição para cima
position

5

In [16]:
dados_impar[position -1]

153

Calculo manual par

In [20]:
position = len(dados) // 2 #Retorna somente a parte inteira
position

20

In [21]:
dados[position -1], dados[position]

(160, 160)

In [22]:
mediana = (dados[position -1] + dados[position]) / 2

mediana

160.0

Biblioteca

In [23]:
np.median(dados_impar)

153.0

In [24]:
np.median(dados)

160.0

In [25]:
statistics.median(dados_impar), statistics.median(dados)

(153, 160.0)

**Média aritmética ponderada**

In [27]:
notes = np.array([9,8,7,3])
weights = np.array([1,2,3,4])

In [30]:
ponderada = (notes * weights).sum() / weights.sum() #Realiza o somatorio da multiplicação e faz a divisao
ponderada

5.8

Biblioteca

In [31]:
np.average(notes, weights=weights)

5.8

**Média aritmética, moda, mediana dados agrupados**

In [33]:
dados = {'inferior': [150, 154, 158, 162, 166, 170],
         'superior': [154, 158, 162, 166, 170, 174],
         'fi': [5, 9, 11, 7, 5, 3]}

In [34]:
dataset = pd.DataFrame(dados)
dataset

   inferior  superior  fi
0       150       154   5
1       154       158   9
2       158       162  11
3       162       166   7
4       166       170   5
5       170       174   3

In [36]:
dataset['xi'] = (dataset['superior'] + dataset['inferior']) / 2 # calculo da média aritmética
dataset

   inferior  superior  fi     xi
0       150       154   5  152.0
1       154       158   9  156.0
2       158       162  11  160.0
3       162       166   7  164.0
4       166       170   5  168.0
5       170       174   3  172.0

In [37]:
dataset['fi.xi'] = dataset['fi'] * dataset['xi'] # calculo do média pela quantidade de items da classe

dataset

   inferior  superior  fi     xi   fi.xi
0       150       154   5  152.0   760.0
1       154       158   9  156.0  1404.0
2       158       162  11  160.0  1760.0
3       162       166   7  164.0  1148.0
4       166       170   5  168.0   840.0
5       170       174   3  172.0   516.0

In [38]:
dataset['Fi'] = 0 
dataset

   inferior  superior  fi     xi   fi.xi  Fi
0       150       154   5  152.0   760.0   0
1       154       158   9  156.0  1404.0   0
2       158       162  11  160.0  1760.0   0
3       162       166   7  164.0  1148.0   0
4       166       170   5  168.0   840.0   0
5       170       174   3  172.0   516.0   0

In [42]:
accumulated_frequency = []
sommatory = 0

for row in dataset.iterrows(): # Calculo da frequencia acumulada
  sommatory += row[1][2]
  accumulated_frequency.append(sommatory)

accumulated_frequency

[5.0, 14.0, 25.0, 32.0, 37.0, 40.0]

In [43]:
dataset['Fi'] = accumulated_frequency # inserindo frequencia acumulada na tabela
dataset

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

Média

In [45]:
dataset['fi'].sum(), dataset['fi.xi'].sum()

(40, 6428.0)

In [47]:
dataset['fi.xi'].sum() / dataset['fi'].sum()

160.7

Moda

In [49]:
dataset['fi'].max()

11

In [50]:
dataset[dataset['fi'] == dataset['fi'].max()] # coleta o dado utilizando um filtro dentro

   inferior  superior  fi     xi   fi.xi    Fi
2       158       162  11  160.0  1760.0  25.0

In [53]:
dataset[dataset['fi'] == dataset['fi'].max()]['xi'].values[0] #obtendo o valor da moda

160.0

Mediana

In [54]:
fi_temp = dataset['fi'].sum() / 2 #Localiza o meio da tabela
fi_temp

20.0

In [55]:
inferior_limit, class_frequency, id_before_frequency = 0,0,0

for row in dataset.iterrows(): # retira dos dados as variaveis necesárias para o calculo
  inferior_limit = row[1][0]
  class_frequency = row[1][2]
  id_before_frequency = row[0]
  if row[1][5] >= fi_temp:
    id_before_frequency -= 1
    break

In [63]:
inferior_limit, class_frequency, id_before_frequency

(158.0, 11.0, 1)

In [62]:
Fi_before = dataset.iloc[[id_before_frequency]]['Fi'].values[0] # localiza o id da frequencia anterior

Fi_before

14.0

In [64]:
median = inferior_limit +((fi_temp - Fi_before) * 4) / class_frequency
median

160.1818181818182

Media geométrica

In [68]:
from scipy.stats.mstats import gmean

dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

gmean(dados)

160.26958390038905

Média harmonica

In [69]:
from scipy.stats.mstats import hmean

hmean(dados)

160.16471947994674

Média quadrática

In [71]:
def quadratic_mean(data):

  return math.sqrt(sum(n * n for n in dados) / len(dados)) # o python permite que a execução de uma função resumida

In [72]:
quadratic_mean(dados)

160.48091786876097