<a href="https://colab.research.google.com/github/miller00315/estatistica_machine_learning/blob/master/medidas_dispersao_percentis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np
from scipy import stats
import pandas as pd
from scipy.stats.mstats import gmean
import math
import statistics

Percentis

In [ ]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

In [ ]:
np.median(dados)

160.0

In [ ]:
np.percentile(dados, 50)

160.0

In [ ]:
np.percentile(dados, 5), np.percentile(dados, 10), np.percentile(dados, 90)

(151.95000000000002, 152.89999999999998, 168.1)

In [ ]:
stats.scoreatpercentile(dados, 5), stats.scoreatpercentile(dados, 10), stats.scoreatpercentile(dados, 90)

(151.95000000000002, 152.89999999999998, 168.1)

In [ ]:
dataset = pd.DataFrame(dados)

dataset.head()

     0
0  150
1  151
2  152
3  152
4  153

In [ ]:
dataset.quantile([0.05, 0.1, 0.9])

           0
0.05  151.95
0.10  152.90
0.90  168.10

In [13]:
census_dataset = pd.read_csv('census.csv')

In [14]:
census_dataset.head()

   age          workclass  final-weight  ... hour-per-week  native-country  income
0   39          State-gov         77516  ...            40   United-States   <=50K
1   50   Self-emp-not-inc         83311  ...            13   United-States   <=50K
2   38            Private        215646  ...            40   United-States   <=50K
3   53            Private        234721  ...            40   United-States   <=50K
4   28            Private        338409  ...            40            Cuba   <=50K

[5 rows x 15 columns]

In [16]:
census_dataset['age'].mean() # media aritmética

38.58164675532078

In [17]:
stats.hmean(census_dataset['age']) # media harmonica

33.91874139089839

In [20]:
gmean(census_dataset['age']) # media geométrica

36.210879158177256

In [21]:

def quadratic_mean(data):

  return math.sqrt(sum(n * n for n in dados) / len(dados))

In [24]:
quadratic_mean(census_dataset['age'])

160.48091786876097

In [27]:
census_dataset['age'].median()

37.0

In [30]:
statistics.mode(census_dataset['age'])

36

In [31]:
dados

array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
       157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
       163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
       173])

In [32]:
dados.max() - dados.min() #Amplitude amostral

23

In [34]:
quartil_1 = np.quantile(dados, 0.25) # Mediana 25%
quartil_3 = np.quantile(dados, 0.75) # Media 75

quartil_1, quartil_3

(155.75, 164.0)

In [35]:
diference_interquartil = quartil_3 - quartil_1 #diferença interquartil

diference_interquartil

8.25

In [36]:
bottom_limit = quartil_1 - (1.5 * diference_interquartil) # limite inferior

bottom_limit

143.375

In [37]:
upper_limit = quartil_3 + (1.5 * diference_interquartil) # limite superior

upper_limit

176.375