<a href="https://colab.research.google.com/github/miller00315/estatistica_machine_learning/blob/master/medidas_dispersao_percentis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
from scipy import stats
import pandas as pd

Percentis

In [2]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

In [3]:
np.median(dados)

160.0

In [4]:
np.percentile(dados, 50)

160.0

In [6]:
np.percentile(dados, 5), np.percentile(dados, 10), np.percentile(dados, 90)

(151.95000000000002, 152.89999999999998, 168.1)

In [9]:
stats.scoreatpercentile(dados, 5), stats.scoreatpercentile(dados, 10), stats.scoreatpercentile(dados, 90)

(151.95000000000002, 152.89999999999998, 168.1)

In [11]:
dataset = pd.DataFrame(dados)

dataset.head()

     0
0  150
1  151
2  152
3  152
4  153

In [12]:
dataset.quantile([0.05, 0.1, 0.9])

           0
0.05  151.95
0.10  152.90
0.90  168.10